.preview-img-container {
    // display       : flex;
    // flex-direction: column;

    .label-upload {
        padding   : 5px;
        border    : 5px;
        cursor    : pointer;
        background: #ddd;

        &:hover {
            opacity: 0.9;
        }
    }

    .preview-image {
        //width          : 100%;
        height         : 100px;
        border         : 1px solid #ddd;
        background     : center center no-repeat;
        background-size: contain;
        cursor         : pointer;
    }
}