.doctor-detail-container {


    .intro-doctor {
        display: flex;
        margin : 0 200px;

        .content-left {
            //flex                   : 1;
            width                : 150px;
            height               : 150px;
            border-radius        : 50%;
            background-size      : cover;
            background-position  : center;
            margin               : 10px 20px;
            padding              : 10px;
            //background         : center center no-repeat;

            .doctor-image {}
        }

        .content-right {
            flex              : 3;
            padding-left      : 20px;
            // .doctor-name {
            //     font-size  : 24px;
            //     font-weight: bold;
            // }

            // .doctor-description {
            //     margin-top: 10px;
            //     font-size : 16px;
            // }

            .up {
                padding-top: 15px;
                font-size  : 24px;
                font-weight: bold;
            }

            .down {
                margin-top  : 10px;
                margin-right: 10px;
                font-size   : 16px;
            }
        }
    }

    .detail-infor-doctor {
        padding-top     : 20px;
        margin          : 20px;
        padding         : 10px 200px;
        border-top      : #ddd 1px solid;
        border-bottom   : #ddd 1px solid;
        background-color: #f9f9f9;

        h3 {
            font-size: 17px;
        }

        img {
            width: 100%;
        }
    }

    .comment-doctor {
        margin-top: 30px;
    }
}