.section-specialty {
    height    : 300px;
    background: #f5f5f5;
    border    : 1px solid red;
}

.slick-prev {
    border  : 1px solid green !important;
    position: relative !important;
    left    : 0 !important;
    top     : 100px !important;
}

.slick-next {
    border: 1px solid red !important;
    right : 0 !important;
}