.slick-prev {
    // position: relative !important;
    left            : -10px !important;
    //top        : 100px !important;
    background      : #cbc4c4 !important;
    z-index         : 1000 !important;
    height          : 48px !important;
    width           : 44px !important;
    // font-family  : FontAwesome !important;
    // color        : red;

    //content      : "\e257" !important;
    &:hover {
        background: #d7d7d7 !important;
    }
}

.slick-prev,
.slick-next {
    top: 47%;
}

.slick-prev:before,
.slick-next:before {
    //font-family  : slick !important;
    color    : red !important;
    font-size: 30px;

    //content    : "\e257" !important;
}

.slick-next {
    right     : -10px !important;
    height    : 48px !important;
    width     : 44px !important;
    background: #cbc4c4 !important;

    &:hover {
        background: #d7d7d7 !important;
    }
}



.section-share {
    height: auto;
    width : 80%;
    margin: 0 auto;

    &.section-specialty {
        background   : #f5f5f5;
        box-shadow   : 0px 5px 10px grey;
        margin-bottom: 5px;
    }

    &.section-medical-facility {
        background   : #f5f5f5;
        box-shadow   : 0px 5px 10px grey;
        margin-bottom: 5px;
    }

    &.section-out-standing-doctor {
        background   : #f5f5f5;
        box-shadow   : 0px 5px 10px grey;
        margin-bottom: 5px;
    }

    &.section-handbook {
        background   : #f5f5f5;
        box-shadow   : 0px 5px 10px grey;
        margin-bottom: 5px;
    }

    .section-container {
        margin        : 0 100px;
        display       : flex;
        flex-direction: column;

        .section-header {
            height       : 60px;
            padding-top  : 30px;
            margin-bottom: 30px;

            .title-section {
                font-size  : 22px;
                font-weight: 600;
            }

            .btn-section {
                float     : right;
                display   : block;
                padding   : 10px 15px;
                border    : none;
                outline   : none;
                background: #ebebeb;
                color     : black;
                cursor    : pointer;

                &:hover {
                    background: #f7d800;
                    color     : #fff;
                }
            }
        }

        .section-body {
            .section-customize {
                //border: 1px solid black;
                padding-right: 10px;
                text-align   : center;

                .bg-image {
                    background-position: center center;
                    background-repeat  : no-repeat;
                    background-size    : cover;
                    background-color   : #eee;
                    width              : 100%;
                    height             : 200px;
                    box-shadow         : 5px 5px 10px grey;
                    cursor             : pointer;
                    border-radius      : 10px;
                    margin-bottom      : 5px;

                    &.section-specialty {
                        background-image: url('../../assets/specialty/co-xuong-khop.png');
                    }

                    &.section-medical-facility {
                        background-image: url('../../assets/medical-facility/logo-y-duoc-1.jpg');
                        background-size : contain;
                        background-color: #ffffff;
                    }

                    &.section-out-standing-doctor {
                        background-image: url('../../assets/out-standing-doctor/kham-tieu-hoa.jpg');
                        border-radius   : 50%;
                        width           : 120px;
                        height          : 120px;
                    }

                    &.section-handbook {
                        background-image: url('../../assets/handbook/anh-bia-ctkm-dreye.jpg');
                        height          : 300px;
                        display         : inline-block;
                        background-size : contain;
                        background-color: #ffffff;
                    }
                }
            }
        }
    }
}

.outer-bg {
    display        : flex;
    justify-content: center;
}