.home-header-container {
    height          : 60px;
    width           : 100%;
    padding         : 0 20px;
    background-color: rgb(223, 240, 240);


    .home-header-content {
        width  : 90%;
        height : 100%;
        display: flex;
        margin : 0 auto;

        .left-content {
            width      : 20%;
            display    : flex;
            align-items: center;

            .header-logo {
                background     : url('../../assets/logo.svg') center center no-repeat;
                background-size: 100% auto;
                height         : 100%;
                width          : 100%;
                cursor         : pointer;
                margin         : 0 15px;
            }

            i {
                font-size: 25px;
                color    : grey;
                cursor   : pointer;
            }
        }

        .center-content {
            width          : 60%;
            display        : flex;
            align-items    : center;
            justify-content: space-between;

            .child-content {
                // margin         : 0 10px;
                // cursor         : pointer;
                // font-size      : 15px;
                // font-family    : Montserrat, sans-serif !important;
                // cursor         : pointer;
                // text-align     : center;
                // justify-content: center;

                .subs-title {
                    font-weight: 400px;
                    font-size  : 12px;
                }
            }

            .active-item {
                border-radius   : 15px;
                background-color: rgb(240, 183, 77);
                width           : 60px;
                height          : 25px;
                color           : white;
                align-items     : center;
            }
        }

        .right-content {
            width          : 20%;
            display        : flex;
            align-items    : center;
            justify-content: center;

            // .sub-content {
            //     margin        : 0 10px;
            //     color         : rgb(30, 224, 224);
            //     display       : flex;
            //     flex-direction: column;
            //     text-align    : center;

            //     i {
            //         font-size: 20px;
            //     }

            //     span {
            //         font-size: 10px;
            //     }
            // }

            .support {
                i {
                    color: rgb(106, 224, 240);

                    span {
                        color: grey;
                    }
                }
            }
        }
    }
}

.home-header-banner {
    background         : url('../../assets/header-background.jpg');
    background-size    : cover;
    background-repeat  : no-repeat;
    background-position: center;
    height             : 500px;
    display            : flex;
    flex-direction     : column;

    .content-up {
        height     : 50%;
        border     : 1px solid red;
        padding-top: 20px;

        .title1 {
            text-align   : center;
            font-size    : 30px;
            color        : white;
            text-shadow  : 1px 1px 1px #333;
            margin-bottom: 15px;
            margin-top   : 50px;
        }

        .title2 {
            text-align   : center;
            font-size    : 30px;
            color        : white;
            text-shadow  : 1px 1px 1px #333;
            margin-bottom: 15px;
        }

        .search {
            width           : fit-content;
            display         : flex;
            margin          : 0 auto;
            align-items     : center;
            padding         : 10px;
            justify-content : center;
            border-radius   : 25px;
            background-color: #f7d800;

            i {
                margin: 0 5px;
            }

            input {
                height    : 30px;
                width     : 350px;
                background: transparent;
                border    : none;
                outline   : none;
            }
        }
    }

    .content-down {
        height: 50%;
        border: 1px solid green;

        .options {
            display        : flex;
            grid-gap       : 45px;
            justify-content: center;
            text-align     : center;

            .option-child {
                width     : 100px;
                border    : 1px solid;
                text-align: center;
                cursor    : pointer;

                .icon-child {
                    background   : white;
                    height       : 40px;
                    width        : 40px;
                    padding      : 7px;
                    border-radius: 50%;
                    margin       : 0 auto;

                    .icon-1 {
                        background     : url('../../assets/icon-kham-chuyen-khoa.png');
                        background-size: cover;
                        display        : block;
                        width          : 100%;
                        height         : 100%;
                    }

                    .icon-2 {
                        background     : url('../../assets/icon-kham-tu-xa.png');
                        background-size: cover;
                        display        : block;
                        width          : 100%;
                        height         : 100%;
                    }

                    .icon-3 {
                        background     : url('../../assets/icon-kham-tong-quan.png');
                        background-size: cover;
                        display        : block;
                        width          : 100%;
                        height         : 100%;
                    }

                    .icon-4 {
                        background     : url('../../assets/icon-xet-nghiem-y-hoc.png');
                        background-size: cover;
                        display        : block;
                        width          : 100%;
                        height         : 100%;
                    }

                    .icon-5 {
                        background     : url('../../assets/icon-suc-khoe-tinh-than.png');
                        background-size: cover;
                        display        : block;
                        width          : 100%;
                        height         : 100%;
                    }

                    .icon-6 {
                        background     : url('../../assets/icon-kham-nha-khoa.png');
                        background-size: cover;
                        display        : block;
                        width          : 100%;
                        height         : 100%;
                    }
                }

                .text-child {
                    font-size  : 16px;
                    font-weight: 500;
                    color      : white;

                    &:hover {
                        color: aqua;
                    }
                }
            }
        }
    }



}