@import "../../styles/common.scss";

.header-container {
    z-index         : 99;
    display         : flex;
    justify-content : space-between;
    background-color: $colormain;
    color           : $common-text-color;
    height          : 40px;
    position        : relative;

    .btn-logout {
        color      : $common-text-color;
        line-height: 40px;
        height     : 40px;
        padding    : 0 10px;

        &:hover {
            background-color: darken($colormain, 5);
        }

        i {
            font-size: $base-size + 1px;
        }
    }

    .welcome {
        margin-right: 10px;
    }

    .languages {
        .language-en {
            margin-right: 15px;
            margin-left : 10px;
            color       : greenyellow;
            cursor      : pointer;

            &.active {
                opacity         : 1;
                color           : rgb(247, 231, 9);
                font-weight     : 600;
                border-radius   : 50%;
                aspect-ratio    : 1 / 1;
                display         : inline-block;
                text-align      : center;
                background-color: rgb(130, 166, 243);
                padding         : 3px;
            }
        }

        .language-vi {
            cursor: pointer;

            &.active {
                opacity         : 1;
                color           : orange;
                font-weight     : 600;
                border-radius   : 50%;
                aspect-ratio    : 1 / 1;
                display         : inline-block;
                text-align      : center;
                background-color: rgb(130, 166, 243);
                padding         : 3px;
            }
        }
    }
}